### Importing Dependencies

In [1]:
import pandas as pd
import os
import requests
import json
# from config import password
from sqlalchemy import create_engine

### Creating a function to import csv data from multiple countries

In [2]:
def import_func(country_code):
    
    #Creating Path
    cd  = 'D:\MyProjects\9.Codegnan Project\data\\newData'
    country = country_code
    cd+='\\'
    cd+=country_code
    cd+='_youtube_trending_data.csv'
    #path = cd.join(f'{country_code}_youtube_trending_data.csv')
    path = cd
    
    #Storing dataframe to df
    # print(path)

    # read into pandas dataframe
    df=pd.read_csv(path)
    
    #Removing unwanted columns below
    df=df[['video_id','title','publishedAt','channelTitle','categoryId','trending_date',
            'view_count','likes','dislikes','comment_count','thumbnail_link']]
    
    
    #Changing object types to date types for two columns 
    # change the string data type to date for 2 features publishedAt and trending_date
    df['publishedAt']=pd.to_datetime(df['publishedAt'])
    df['trending_date']=pd.to_datetime(df['trending_date'])
    
    
    #Removing time stamp from date (remove time include only date from the timestamp)
    df['publishedAt']=df['publishedAt'].dt.date 
    df['trending_date']=df['trending_date'].dt.date
    
    # json file of respective country code 
    jsoncwd = 'data\\newData\\' + country_code + '_category_id.json'

    #with open(f'data/{country_code}_category_id.json', 'r') as read_file:
    # this converts json objects into python dictionary format
    with open(jsoncwd, 'r') as read_file:
        category_ids = json.load(read_file) # returns json object

        df=df.astype({'categoryId': 'str'})  # datatype of categoryId changed to str
        
    for index,row in df.iterrows(): # each iterrows produces a index obj and row obj

        for entry in category_ids["items"]:  

            if row["categoryId"]==entry["id"]: # mapping csv catand json 
                df.at[index,"categoryId"]=entry["snippet"]["title"] 
                # category id is converted to representative category_name using data from
                # json [snippet : [title :['val']]]  
    
    #Adding country Code as column
    df['country']=f'{country_code}'
    col_name='country'
    
    
    #Moving country code to first column
    first_col = df.pop(col_name)
    df.insert(0,col_name,first_col)
    
    return df

cwd = 'D:\MyProjects\9.Codegnan Project\data\\newData'
#print(os.getcwd())

### Creating all dataframes using import function

In [30]:
#Brazil Dataframe
df_br = import_func('BR')

#Canada Dataframe
df_ca = import_func('CA')

#Germany Dataframe
df_de = import_func('DE')

#France Dataframe
df_fr=import_func('FR')

#UK Dataframe
df_gb =import_func('GB')

#India Dataframe
df_in = import_func('IN')

#Japan Dataframe
df_jp = import_func('JP')

#Korea Dataframe
df_kr = import_func('KR')

#Mexico Dataframe
df_mx=import_func('MX')

#Russia Dataframe
df_ru=import_func('RU')

#USA Dataframe
df_us=import_func('US')

### Combining all data to one dataframe

In [31]:
#Creating a varible to add all dfs
country_df=[df_br,df_ca,df_de,df_fr,df_gb,df_in,df_jp,df_kr,df_mx,df_ru,df_us]
df_main = pd.concat(country_df)
df_main

,country,video_id,title,publishedAt,channelTitle,categoryId,trending_date,view_count,likes,dislikes,comment_count,thumbnail_link
0,BR,s9FH4rDMvds,LEVEI UM FORA? FINGI ESTAR APAIXONADO POR ELA!,2020-08-11,Pietro Guedes,People & Blogs,2020-08-12,263835,85095,487,4500,https://i.ytimg.com/vi/s9FH4rDMvds/default.jpg
1,BR,jbGRowa5tIk,ITZY “Not Shy” M/V TEASER,2020-08-11,JYP Entertainment,Music,2020-08-12,6000070,714310,15176,31040,https://i.ytimg.com/vi/jbGRowa5tIk/default.jpg
2,BR,3EfkCrXKZNs,Oh Juliana PARÓDIA - MC Niack,2020-08-10,As Irmãs Mota,People & Blogs,2020-08-12,2296748,39761,5484,0,https://i.ytimg.com/vi/3EfkCrXKZNs/default.jpg
3,BR,gBjox7vn3-g,Contos de Runeterra: Targon | A Estrada Tortuosa,2020-08-11,League of Legends BR,Gaming,2020-08-12,300510,46222,242,2748,https://i.ytimg.com/vi/gBjox7vn3-g/default.jpg
4,BR,npoUGx7UW7o,Entrevista com Thammy Miranda | The Noite (10/...,2020-08-11,The Noite com Danilo Gentili,Comedy,2020-08-12,327235,22059,3972,2751,https://i.ytimg.com/vi/npoUGx7UW7o/default.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
46986,US,s4OCilO8oDo,El Alfa El Jefe - Arrebatao (Video Oficial),2021-03-30,ElAlfaElJefeTV,Music,2021-04-07,4776296,213167,5836,13971,https://i.ytimg.com/vi/s4OCilO8oDo/default.jpg
46987,US,-wn0zrU6xiA,Idaho's 'Sweet Pea' parrot goes viral on TikTo...,2021-03-28,KTVB,News & Politics,2021-04-07,293221,738,55,81,https://i.ytimg.com/vi/-wn0zrU6xiA/default.jpg
46988,US,WqcLtrAmwXs,GODZILLA VS KONG Ending Explained | Full Movie...,2021-03-31,Heavy Spoilers,Entertainment,2021-04-07,512472,11169,403,3701,https://i.ytimg.com/vi/WqcLtrAmwXs/default.jpg
46989,US,pR3YC55bBu0,Fortnite Item Shop *NEW* STONKS GUY SKIN! (For...,2021-04-01,I Talk,Gaming,2021-04-07,315725,16152,264,2274,https://i.ytimg.com/vi/pR3YC55bBu0/default.jpg
46990,US,24KbaKlCDDI,Zola | Official Trailer HD | A24,2021-03-31,A24,Film & Animation,2021-04-07,572927,8694,563,889,https://i.ytimg.com/vi/24KbaKlCDDI/default.jpg

### ADDED TODAY

### Creating a function to get popular statistics

In [33]:
def stats(country_code):
    
    #Invoiking import_func to capture all the date based on country
    df=import_func(f'{country_code}')
    

    #Grouping dataframe by category to get all likes
    df_likes=df.groupby('categoryId').likes.sum()
    
    #Grouping dataframe by category to get all dislikes
    df_dislikes=df.groupby('categoryId').dislikes.sum()
    
    ##Grouping dataframe by category to get total view count
    df_view_count=df.groupby('categoryId').view_count.sum()
   
    return df_likes.reset_index(),df_dislikes.reset_index(),df_view_count.reset_index()

In [34]:
#Testing Stats for Random Country (US)
df_US_likes,df_US_dislikes,df_US_view_count=stats('US')

### Creating SQL engine to connnect to Postgres

In [35]:
# Connect to Postgres Database

pg_user = 'postgres'
pg_password='Sm6Jc5bqbiNQdsVAo7eN'
db_name = 'YTP_database'
connection_string = f'{pg_user}:{pg_password}@localhost:5432/{db_name}'

# creating a engine 
engine=create_engine(f'postgresql://{connection_string}')

In [36]:
# reading tables name created in database YTP_database
engine.table_names()

C:\Users\mohan\AppData\Local\Temp\ipykernel_19216\9324138.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['youtube_table', 'youtube_table_v2']

In [37]:
df_main.to_sql(name='youtube_table',con=engine,if_exists='replace',index=False)

#### For App.py routes

In [38]:
from datetime import datetime

# Routes to fill the drop down menus
# Dropdown menu#1
youtubeVids = df_main
country_df = youtubeVids['country'].value_counts() 
countryList = country_df.index.tolist()
countryList

# Dropdown menu#2
youtubeVids = df_main
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")
category_df = df_main['categoryId'].value_counts() 
categoryList = category_df.index.tolist()
categoryList

# Dropdown menu#3
metricList = ['Views', 'Likes', 'Dislikes', 'Comments']

In [39]:
df_main = df_main.rename(columns={'country': 'country', 'video_id': 'video_id', 'title': 'title', 'publishedAt': 'publishedAt', 'channelTitle': 'channelTitle', 'categoryId': 'categoryId',
                                  'trending_date': 'trending_date', 'view_count': 'views', 'likes': 'likes', 'dislikes': 'dislikes', 'comment_count': 'comments', 'thumbnail_link': 'thumbnail_link'})

In [40]:
# CREATING A HEROKU DATASET
# Heroku only takes data with <10k rows 
# so I created a heroku dataset (incase we ever want to host on heroku).

def import_func(country_code):
    
    #Creating Path
    #path = os.path.join('data\\newData',f'{country_code}_youtube_trending_data.csv')
    cd  = 'D:\MyProjects\9.Codegnan Project\data\\newData'
    country = country_code
    cd+='\\'
    cd+=country_code
    cd+='_youtube_trending_data.csv'
    #path = cd.join(f'{country_code}_youtube_trending_data.csv')
    path = cd
    
    #Storing dataframe to df
    dfh=pd.read_csv(path)
    
    #Removing unwanted columns below
    dfh=dfh[['video_id','title','publishedAt','channelTitle','categoryId','trending_date','view_count','likes','dislikes','comment_count','thumbnail_link']]
    
    #Renaming columns
    dfh = dfh.rename(columns={'view_count': 'views', 'likes': 'likes', 'dislikes': 'dislikes', 'comment_count': 'comments'})
    
    #Changing object types to date types for two columns
    dfh['publishedAt']=pd.to_datetime(dfh['publishedAt'])
    dfh['trending_date']=pd.to_datetime(dfh['trending_date'])
    
    
    #Removing time stamp from date
    dfh['publishedAt']=dfh['publishedAt'].dt.date 
    dfh['trending_date']=dfh['trending_date'].dt.date
    
    # json file of respective country code 
    jsoncwd = 'data\\newData\\' + country_code + '_category_id.json'
    
    with open(jsoncwd, 'r') as read_file:
        category_ids = json.load(read_file)

        dfh=dfh.astype({'categoryId': 'str'})
        
    for index,row in dfh.iterrows():
    
        for entry in category_ids["items"]:

            if row["categoryId"]==entry["id"]:
                dfh.at[index,"categoryId"]=entry["snippet"]["title"]
    
    # Select 999 rows from each country in dataframe (so we end up with <10k rows ~1000 rows per country)
    dfh = dfh.nlargest(999, 'views')
    
    #Adding country Code as column
    dfh['country']=f'{country_code}'
    col_name='country'
    
    #Moving country code to first column
    first_col = dfh.pop(col_name)
    dfh.insert(0,col_name,first_col)
    
    return dfh

#USA Dataframe
dfh_us=import_func('US')

#Brasil Dataframe
dfh_br=import_func('BR')

#Canada Dataframe
dfh_ca=import_func('CA')

#Mexico Dataframe
dfh_mx=import_func('MX')

#GB Dataframe
dfh_gb=import_func('GB')

#France Dataframe
dfh_fr=import_func('FR')

#Russia Dataframe
dfh_ru=import_func('RU')

#Japan Dataframe
dfh_jp=import_func('JP')

#Korea Dataframe
dfh_kr=import_func('KR')

#India Dataframe
dfh_in=import_func('IN')


#Creating a varible to add all dfs
country_dfh=[dfh_us, dfh_br, dfh_ca, dfh_mx, dfh_gb, dfh_fr, dfh_ru ,dfh_jp, dfh_kr ,dfh_in]
dfh_main = pd.concat(country_dfh)
dfh_main

# Fix the 29 vs Non profits issue
dfh_main['categoryId'] = dfh_main['categoryId'].replace(["29"],"Nonprofits & Activism")

#View output
dfh_main


# To upload to postgres SQL db
# You first have to go create the db (named youtube_table2) in postgres
# #Connect to Database
pg_user = 'postgres'
pg_password='Sm6Jc5bqbiNQdsVAo7eN'
db_name = 'youtube_database'
connection_string = f'{pg_user}:{pg_password}@localhost:5432/{db_name}'
engine=create_engine(f'postgresql://{connection_string}')

# Upload to postgres
dfh_main.to_sql(name='youtube_table2',con=engine,if_exists='replace',index=False)

REPLACING CATEGORY_ID 29 WITH NON-PROFITS AND ACTIVISIM

In [54]:

df_main['categoryId'].value_counts()
df_main['categoryId'].unique()
df_main['likes']
df_main['publishedAt'].value_counts()

2020-10-30    2876
2020-12-21    2748
2021-02-28    2738
2020-12-22    2677
2021-03-12    2629
              ...
2020-08-01       6
2020-07-23       4
2020-08-04       4
2020-07-27       3
2020-07-14       3
Name: publishedAt, Length: 252, dtype: int64

In [55]:
# Bar graph route
youtubeVids = df_main
country = "US"
metric = "likes"
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")
barGraph1Data = youtubeVids[youtubeVids["country"] == country]

barGraph1Data = barGraph1Data.groupby('categoryId').mean()
barGraph1Data = barGraph1Data[metric]
barGraph1Data

categoryId
Autos & Vehicles          46216.188616
Comedy                   102915.554576
Education                 76930.976331
Entertainment            150529.369165
Film & Animation         101848.089875
Gaming                   147947.738560
Howto & Style             67729.410040
Music                    313646.076383
News & Politics           24522.745387
Nonprofits & Activism     35196.440000
People & Blogs           136946.839787
Pets & Animals            54619.742574
Science & Technology     104221.698182
Sports                    42496.952214
Travel & Events           23355.617486
Name: likes, dtype: float64

In [56]:
# Bargraph2 route
youtubeVids = df_main
country = "US"
metric = "likes"
catId = "Entertainment"

barGraph2Data = youtubeVids[youtubeVids["country"] == country]
barGraph2Data = barGraph2Data[barGraph2Data["categoryId"] == catId]
barGraph2Data = barGraph2Data.loc[:, ["views", "comments", "likes", "dislikes", "country", "categoryId"]]

metric_values = ["views", "comments", "likes", "dislikes"]
metricMaxValues = []
n = 0
for i in metric_values:
    step1_df = barGraph2Data.sort_values(by=i, ascending=False)
    step2_df = step1_df[i]
    step3 = step2_df.values.tolist()
    metricMaxValues.append(step3[0])
metricMaxValues

barGraph2_df = pd.DataFrame(
    {'Metric Values': metric_values,
     'Max Value': metricMaxValues
    })
barGraph2_df

  Metric Values  Max Value
0         views   60332012
1      comments     681063
2         likes    3871379
3      dislikes      76584

In [57]:
# table by category route
youtubeVids = df_main
country = "US"
metric = "likes"
category = "Entertainment"

# # Fix the 29 vs Non profits issue
youtubeVids['categoryId'] = youtubeVids['categoryId'].replace(["29"],"Nonprofits & Activism")

# # Sort dataframe by country & category
table_df = youtubeVids[youtubeVids["country"] == country]
table_df = table_df[table_df["categoryId"] == category]

# # Sort dataframe (largest to smallest) by metric
sorted_table_df = table_df.sort_values(by=metric, ascending=False)

# # Removing duplicate titles from dataframe
sorted_table_df = sorted_table_df.drop_duplicates(subset='title', keep="first")
sorted_table_df

# # Select top 10 from dataframe
top10List_df = sorted_table_df.nlargest(10, metric)

# # Select columns to keep
top10List_df = top10List_df[['categoryId', 'title', 'channelTitle', 'views', 'comments', 'trending_date', 'likes', 'dislikes', 'video_id' ]]
top10List_df

,categoryId,title,channelTitle,views,comments,trending_date,likes,dislikes,video_id
29541,Entertainment,"Youtube Rewind 2020, Thank God It's Over",MrBeast,33387176,295256,2021-01-10,3871379,53805,PKtnafFtfEo
46572,Entertainment,I Spent 50 Hours Buried Alive,MrBeast,60332012,195892,2021-04-05,3331049,44353,9bqk6ZUsKyA
31394,Entertainment,I Bought Everything In 5 Stores,MrBeast,31457820,177784,2021-01-19,2700253,18037,5Fg9oZk-5uA
5397,Entertainment,BTS Performs Dynamite | 2020 MTV VMAs,MTV,29442683,148096,2020-09-07,2577092,58524,zJCdkOpU90g
37778,Entertainment,LILI’s FILM [The Movie],Lilifilm Official,24756742,253019,2021-02-20,2514021,21125,vtRJZEHdu8M
12196,Entertainment,Hi Me In 5 Years,MrBeast,21701884,175728,2020-10-11,2494869,10347,AKJfakEsgy0
26162,Entertainment,"I Gave People $1,000,000 But ONLY 1 Minute To ...",MrBeast,33502455,138736,2020-12-23,2453839,24448,LeYsRMZFUq0
33774,Entertainment,"I Ate $100,000 Golden Ice Cream",MrBeast,33809019,131520,2021-01-31,2189731,27833,C680oxL__ck
27594,Entertainment,I Opened A Restaurant That Pays You To Eat At It,MrBeast,31973364,678199,2020-12-31,2114647,20528,dg2Ag3e8W-Q
2351,Entertainment,"Last To Leave $800,000 Island Keeps It",MrBeast,31801966,201630,2020-08-23,2097381,35643,NkE0AMGzpJY